<%# A linha abaixo carrega no template o conteúdo total do arquivo header.ejs%>
<%-include('base_header') -%>
    <ul>
    <% for(var i=0; i< lista_projetos.length; ++i) { %>        
        <li> 
            <span class="descritor">Título do projeto:</span> <%=lista_projetos[i].titulo %><br/>
            <span class="descritor">Tipo de Projeto:</span> <%=lista_projetos[i].tipo %><br/>            
            <span class="descritor">Tecnologia:</span> <%=lista_projetos[i].tecnologia %><br/>
            <span class="descritor">Início:</span> <%=lista_projetos[i].inicio %> <br/>
            <span class="descritor">Término:</span> <%=lista_projetos[i].fim %>  <br/> 
            <span class="descritor">Id:</span> <%=lista_projetos[i].id %>           
        </li> 
    <% } %>
    </ul>
</body>
<%# A linha abaixo carrega no template o conteúdo total do arquivo footer.ejs %>
<%- include('base_footer') -%>